<h1>Stations</h1>

<div class="station">
  <% @stations.each do |station| %>
    <li><%= station.name %>
        <%= station.street_address %>
        <%= station.state %>
        <%= station.zip %>
        <%= station.fuel_type %>
        <%= station.distance %>
        <%= station.access %>
        <% end %>
    </li>
